{% extends 'system/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="row justify-content-center">
        <div class="col-md-6">
            {%if messages%}
                {%for message in messages%}
                    <p class="alert alert-{{message_tags}}">{{message}}</p>
                {% endfor %}
            {% endif %}
            <form method="POST" class="register-form">
            <h3>Register As Student</h3>
                {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            Firstname*<input type="text" name="first_name" placeholder="firstname" required class="form-control"><br>
                        </div>
                        <div class="col">
                            Lastname*<input type="text" name="last_name" placeholder="lastname" required class="form-control"><br>
                        </div>
                    </div>
                    {{class_code|crispy}}
                    {{form|crispy}}<br>
                <span class="text-muted" >Already a user?</span> <a href="{% url 'login' %}">Login Here</a> 
                <button type="submit" class="btn btn-primary mt-3 form-control">Register</button>
            </form>  
        </div>
    </div>
    
{% endblock content%}     
    
