{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content%}
    <div class="row pl-2">  
        <div class="col-md-3  pt-3 pl-2 sidebar">
            {% include 'crud/sidebar.html' %}
        </div>

        <div class="col-md-8 col-sm-12 section-container">
            {%if messages%}
            {%for message in messages%}
                {%if message.tags == 'success'%}
                    <p class="alert alert-success d-flex align-items-center"style="min-height:20px!important ">{{message}}</p>
                {%else%}
                    <p class="alert alert-danger d-flex align-items-center"style="min-height:20px!important">{{message}}</p>
                {%endif%}
            {% endfor %}
        {% endif %}
            <h2> Announcements</h2>
            {%if announcements%}
            <ul class="list-group">
                <li class="list-group-item mb-2">
                    <div class="row">
                        <div class="col">
                            
                            <ol type="1">
                                {% for item in announcements%}
                                <div class="row mb-2">
                                    <div class="col-md-6 text-info">
                                        <li><a href="{% url 'announcement-detail' item.id%}">{{item.title}} - {{item.classname}}</a></li>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="{% url 'announcement-detail' item.id%}" class="bg-warning text-white ml-2 pl-3 pr-3 align-items-center justify-content-center">
                                            Detail
                                        </a>      
                                        <a href="{% url 'update-announcement' item.id %}" class="bg-secondary text-white ml-2  pl-3 pr-3 align-items-center justify-content-center" data-dismiss="modal">
                                            Edit
                                        </a>
                                        <a href="{% url 'delete-announcement' item.id %}" class="bg-danger text-white ml-2 pl-3 pr-3 align-items-center justify-content-center" data-dismiss="modal">
                                             Delete
                                        </a>                    
                                    </div>
                                     
                                </div>
                                    
                                   
                                {%endfor%} 
                            </ol>                                 
                        </div>
                        
                       
                    </div>
                    
                    
                   
                    
                </li>
            </ul>
                
            {%else%}
                <h5 class=text-center>No Announcement Yet</h5>
            {%endif%}
            <div class="modal-footer">
                
                <a href="{% url 'create-announcement' %}" class="btn btn-warning text-white" data-dismiss="modal">Create</a>
                <a href="{% url 'index' %}" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
    
     
{% endblock content%}