{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content%}
    <div class="row pl-2">  
        <div class="col-md-3  pt-3 pl-2 sidebar">
            {% include 'crud/sidebar.html' %}
        </div>

        <div class="col-md-8 col-sm-12 section-container">
            {%if messages%}
            {%for message in messages%}
                {%if message.tags == 'success'%}
                    <p class="alert alert-success d-flex align-items-center"style="min-height:20px!important ">{{message}}</p>
                {%else%}
                    <p class="alert alert-danger d-flex align-items-center"style="min-height:20px!important">{{message}}</p>
                {%endif%}
            {% endfor %}
        {% endif %}
            <h2>Add Announcement</h2>
            <form method="POST">
                {%csrf_token%}
                <select name="classname" required id="id_classname" class="form-control"required>
                    <option value="" selected="">----   Choose Class   -----</option>
                    {% for class in classes%}
                        <option value="{{class.id}}">{{class}}</option>
                    {%endfor%}
                  
                </select>
               {{form.title|as_crispy_field}}
               {{form.text|as_crispy_field}}
               <input type="hidden" name="author" value="{{request.user.id}}" id="id_author">
                
              
             
                {% comment %} Due: {%render_field form.due id="datetimepicker" class="form-control"%} {% endcomment %}
                Due: {%render_field form.due class="form-control" placeholder="e.g. 2020-01-01 10:00:00 (year-day-month hour:minutes:seconds)"%}
                <!-- Due : <input type="text" name="due" class="datetimeinput" required="" id="datetimepicker"> -->
               
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning text-light ">Create</button>
                    <a href="{% url 'announcement-list' %}" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                </div>
            </form>    
        </div>
    </div>
    
     
{% endblock content%}