{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
  
  <div class="row justify-content-center pl-2">
    <div class="col-3  pt-3 pl-2 sidebar">
      {% if user.is_authenticated%}
        {% if user.is_staff%}
            {% include 'crud/sidebar.html' %}
        {%else%}
            {% include 'system/student_sidebar.html'%}      
        {%endif%}
      {%endif%}
    </div> 
    <div class="col-md-9 col-sm-12  col-xs-12 home-container">        
      <div class="row">
        <div class="col mt-2">
            {%if messages%}
                {%for message in messages%}
                    {%if message.tags == 'success'%}
                        <p class="alert alert-success d-flex align-items-center"style="height:20px!important ">{{message}}</p>
                    {%else%}
                        <p class="alert alert-danger d-flex align-items-center"style="height:20px!important">{{message}}</p>
                    {%endif%}
                {% endfor %}
            {% endif %}
        </div>
      </div>
      {%if not user.is_staff%}
        <div class="row">
          <div class="col">
            <form method ="POST" class="mt-1 mb-2 enroll-form"style="display:none">
              {%csrf_token%}
                <div class="row d-flex">
                    <div class="col"style="flex:3">
                        <input type="text" name="code" class="form-control" placeholder="class code" required>
                    </div>
                    <div class="col"style="flex:1">
                        <button class="btn btn-warning text-white btn-md"style="width:80px!important" type="submit">Enroll</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      {%endif%}
      
      <div class="row">
        <div class="col">
          <a href="{% url 'create-post' %}" class="btn btn-dark text-white mb-3 border" id="create-post-btn">
            Create Post
          </a>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-sm-12">  
               
          {%if posts%}
            
          {%else%}
              <h2 class="text-muted text-center">No Post Yet</h2>
          {%endif%}
         
        </div>
      </div>
    </div>
  </div>
  



     
{% endblock content%}