{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}

  <div class="row justify-content-center pl-2">
    <div class="col-3  pt-3 pl-2 sidebar">
      {% if user.is_authenticated%}
        {% if user.is_staff%}
            {% include 'crud/sidebar.html' %}
        {%else%}
            {% include 'system/student_sidebar.html'%}      
        {%endif%}
      {%endif%}
    </div> 
    <div class="col-md-9 col-sm-12  col-xs-12 home-container">        
      <div class="row">
        <div class="col mt-2">
            {%if messages%}
                {%for message in messages%}
                    {%if message.tags == 'success'%}
                        <p class="alert alert-success d-flex align-items-center"style="height:20px!important ">{{message}}</p>
                    {%else%}
                        <p class="alert alert-danger d-flex align-items-center"style="height:20px!important">{{message}}</p>
                    {%endif%}
                {% endfor %}
            {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form method ="POST" class="mt-1 mb-2 enroll-form"style="display:none">
            {%csrf_token%}
            <div class="row d-flex">
                <div class="col"style="flex:3">
                    <input type="text" name="code" class="form-control" placeholder="class code" required>
                </div>
                <div class="col"style="flex:1">
                    <button class="btn btn-warning text-white btn-md"style="width:80px!important" type="submit">Enroll</button>
                </div>
            </div>
        </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="{% url 'create-post' %}" class="btn btn-dark text-white mb-3 border" id="create-post-btn">
            Create Post
          </a>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-sm-12">  
               
          {%if posts%}
            {% for post in posts %}   
              {%if post.classname in user_classname_list or post.classname in class_author%}                  
                <div class="card card-body mb-2">
                  <div class="row d-flex "style="flex-wrap:no-wrap">
                    <div class="col profile-container" style="flex:1">
                      <div style="width:100px; height:100px;">
                        <img src="{{post.author.profile.profile_image.url}}" class="rounded-circle border"
                        style="width:100%; height:100%">
                      </div>
                    </div>
                    <div class="col post-container"style="flex:10"> 
                      <div class="row border-bottom">
                        <div class="col">
                          <p class="text-capitalize mt-3"> 
                            <a href="#">{{post.author.first_name}} {{post.author.last_name}}</a> >  
                            <a href="#">{{post.classname}}</a>
                            <br>
                            
                            <small class="text-muted">{{post.date_posted}}</small>  
                          </p>    
                        </div>
                        <div class="col-3"style="flex:1">
                            
                            <li class="nav-item dropdown mr-5 "style="list-style:none;margin-right:90px!important">
                              {%if user == post.author%}
                              <a class="nav-link dropdown-toggle " href="#" id="navbardrop" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-h text-secondary" id="post-option" style="cursor:pointer"></i>
                              </a>
                              <div class="dropdown-menu post-options">
                                <a class="dropdown-item border-bottom" href="{% url 'update-post' post.id%}">Edit</a>
                                <a class="dropdown-item " href="{% url 'delete-post' post.id%}">Delete</a>                             
                              </div>                             
                            </li>
                            {%endif%}
                        </div>
                      </div>                     
                                            
                      
                    </div>
                  </div>
                   <div class="row">
                          <div class="col"style="z-index:1">
                            <div class="d-flex justify-content-center"style="width:100%">
                              <p class="text-lead justify-content-center post-text" style="width:75%">{{post.content}}</p> 
                            </div>
                            
                            {%if post.attachment%}
                              <div class="d-flex justify-content-center" style="width:100%">
                                  <a href="{{post.attachment.url}}" class="post-file" style="width:75%">{{post.attachment}}</a>
                              </div>
                              
                            {%endif%}
                            {%if post.image%}
                              <div class="d-flex justify-content-center" style="width:100%;height:400px">
                                <img src="{{post.image.url}}" class="post-image"style="width:75%; height:100%">
                              </div>
                            {%endif%}                         
                          </div>                        
                        </div>     
                </div>
                     
              {%endif%}
              
            {% endfor %}
          {%else%}
              <h4 class="text-muted">No Post Yet</h4>
          {%endif%}
         
        </div>
      </div>
    </div>
  </div>
  



     
{% endblock content%}