<nav class="navbar navbar-dark bg-dark navbar-expand-sm mb-3"id="navbar">
        <div class="container">
            <a href="{% url 'index'%}" class="navbar-brand  logo">Future Academy</a>
            <button type="submit" class="navbar-toggler" data-toggle="collapse" data-target="#navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto mr-3 nav-menu">
                    
                    {% if user.is_authenticated %}  
                        {% if user.is_staff%}
                            <li class="nav-item "><a class="nav-link">Teacher</a></li>
                            <li class="nav-item"><a href="{% url 'administration'%}" class="nav-link class-link">Classes</a></li> 
                        {% else %}
                            
                           
                            
                            <li class="nav-item "><a class="nav-link">Student</a></li>
                            <li class="nav-item student-class-link" style="display:none"><a href="{% url 'student-class-list'%}"class="nav-link">Classes</a></li>
                         
                            
                        {% endif %}
                        
                        <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">About</a></li>          
                                     
                       <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Account
                            </a>
                            <div class="dropdown-menu drop">
                                <a class="nav-item dropdown-item list" href="{%url 'profile'%}">View Profile</a>
                                {% if user.is_authenticated == user.is_superuser%}
                                    <a class="dropdown-item list" href="admin/">Go To Admin</a>
                                {% endif %}
                                <a class="dropdown-item list" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                      
                      
                    {% else %} 
                        <li class="nav-item "><a href="{% url 'login'%}" class="nav-link" id="login">Login</a></li>
                        <li class="nav-item dropdown mr-5">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Register
                            </a>
                            <div class="dropdown-menu drop">
                            <a class="dropdown-item list" href="{% url 'teacher-register'%}">Teacher</a>
                                <a class="dropdown-item list" href="{% url 'student-register'%}">Student</a>
                            </div>
                        </li>                 
                    {% endif %} 
                </ul>   
            </div>
        </div>       
    </nav>
