{% load static %}
<div class="skitter skitter-large"style="height:100%!important%">
    <ul>
        <li>
            <a href="#cut"><img src="{% static 'system/images/1.jpg'%}" class="cut"/></a>
            <div class="label_text"><p>Save Money</p></div>
        </li>
        <li>
            <a href="#swapBlocks"><img src="{% static 'system/images/pro.jpg'%}" class="swapBlocks" /></a>
            <div class="label_text"><p>Learn More From Pro</p></div>
        </li>
            <li>
            <a href="#swapBarsBack"><img src="{% static 'system/images/realworld.jpg'%}" class="swapBarsBack" /></a>
            <div class="label_text"><p>Solve Real World Problems</p></div>
        </li>
    </ul>
</div>