{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="row ">
          {% comment %} <div class="col-md-3 p-2 pt-3 ml-4 sidebar">
            {% include 'system/student_sidebar.html' %}
          </div> {% endcomment %}
          
          <div class="col-md-8">
            <h3>Classes</h3>
            <div class="row ">
             
              
              {% if class_list %}
                {% for class in class_list %}
                  <div class="col-md-3  justify-content-center">
                    <a href="{% url 'student-class-detail' class.id%}">
                      <button class="card bg-warning mb-3 d-flex justify-content-center align-items-center choice-box">
                        <span class="bottom-title">{{class}}</span>
                      </button>
                    </a>
                  </div>
                {%endfor%}
              {%else%}
                   <h4 class="text-muted text-center">No Class Available Yet</h4>
              {%endif%}
            
              
             
            </div>
          </div>
      
        
    </div>
   
     
{% endblock content%}