{% extends 'system/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="row justify-content-center">
        <div class="col-md-6">
            {%if messages%}
                {%for message in messages%}
                    <p class="alert alert-success">{{message}}</p>
                {% endfor %}
            {% endif %}
            <form method="POST" class="register-form">
            <a href="#" class="btn btn-info">Login with Google</a>
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom">
                        <h3>Login Now</h3>
                    </legend>
                </fieldset>
                    {{form | crispy}}
                <div class="form-group">
                    <div class="row d-flex">
                        <div class="col"style="flex:1">
                            <span class="text-muted" >Not yet registered?</span> 
                        </div>
                        <div class="col"style="flex:1">
                            <div class="dropdown show">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Register Here
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="{% url 'teacher-register' %}">Teacher</a>
                                    <a class="dropdown-item" href="{% url 'student-register' %}">Student</a>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                   
                  
                    <button type="submit" class="btn btn-primary mt-3 form-control">Login</button>
                </div>
              
            </form>  
        </div>
    </div>
    
{% endblock content%}     
    
