{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}
  <div class="container">
    <div class="row">
      <div class="col">
          {%if messages%}
            {%for message in messages%}
                {%if message.tags == 'success'%}
                    <p class="alert alert-success mt-2 d-flex align-items-center"style="min-height:20px!important">{{message}}</p>
                {%else%}
                    <p class="alert alert-danger mt-2 d-flex align-items-center"style="min-height:20px!important">{{message}}</p>
                {%endif%}
            {% endfor %}
          {% endif %}
      </div>
      
    </div>
   
  </div>
  <div class=" container"style="min-height:50vh;overflow-x:hidden">
 
      <div class="row bg-white p-4 profile-container">
        <div class="col-md-3 col-sm-12 justify-content-center d-flex" style="width:100%!important;">
            <img src="{{user.profile.profile_image.url}}" class="rounded-circle border"
            style="width:150px; height:150px">
        </div>
        <div class="col-md-9 col-sm-12">
          <div class="row align-items-center">
              <h2 class="col-md-8 col-sm-12 text-dark text-capitalize">
                {{user.first_name}} {{user.last_name}} 
              </h2>
              <a class="col-md-4 col-sm-12 "href="{% url 'profile-update' user%}" style="font-size:1rem;">
                Edit Information
              </a>
          </div>
          
            {% if user.is_staff%}
              <p class="text-muted">Teacher</p>
            {%else%}
              <p class="text-muted">Student</p>
            {%endif%}
            {% if user.profile.bio%}
              <span class="text-muted">Bio: </span> <p class="text-lead">{{user.profile.bio}}</p>
            {%endif%}
            <span class="text-muted">Email: </span> <p class="text-lead">{{user.email}}</p>
        </div>
        
      </div>

   
  </div>
  



     
{% endblock content%}