{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content%}
  {%if messages%}
        {%for message in messages%}
            {%if message.tags == 'success'%}
                <p class="alert alert-success mt-2 d-flex align-items-center"style="min-height:20px!important">{{message}}</p>
            {%else%}
                <p class="alert alert-danger mt-2 d-flex align-items-center"style="min-height:20px!important">{{message}}</p>
            {%endif%}
        {% endfor %}
      {% endif %}

  <div class=" container"style="min-height:50vh">
      <div class="row bg-white  p-4 profile-container">
        <div class="col-md-3 col-sm-12 justify-content-center d-flex" style="width:100%!important;">
            <img src="{{user.profile.profile_image.url}}" class="rounded-circle border"
            style="width:150px; height:150px">
        </div>
        <div class="col-md-9 col-sm-12">
            <form method="POST" enctype="multipart/form-data"style="width:100%!important;overflow-x:hidden!important">
                {%csrf_token%}
                {% for field in u_form.hidden_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                
                      
                <div class="form-group">
                        <label>Bio: </label> 
                    {% render_field p_form.bio class="form-control"%}
                </div>
                <div class="form-group">
                        <label>Firstname: </label> 
                    {% render_field u_form.first_name class="form-control"%}
                </div>
                <div class="form-group">
                        <label>Lastname: </label> 
                    {% render_field u_form.last_name class="form-control"%}
                </div>
                <div class="form-group">
                    <label>Username: </label> 
                    {% render_field u_form.username class="form-control"%}
                </div>
                <div class="form-group">
                        <label>Email: </label> 
                    {% render_field u_form.email class="form-control"%}
                </div>
                <div class="form-group">
                        <label>Profile: </label> 
                    {% render_field p_form.profile_image %}
                </div>
                    
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-warning text-white">Save</button>
                        <a href="{% url 'profile'%}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
        </form>
        </div>
        
      </div>

   
  </div>
  



     
{% endblock content%}