{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content%}
  {%if messages%}
        {%for message in messages%}
            {%if message.tags == 'success'%}
                <p class="alert alert-success mt-2 d-flex align-items-center"style="min-height:20px!important">{{message}}</p>
            {%else%}
                <p class="alert alert-danger mt-2 d-flex align-items-center"style="min-height:20px!important">{{message}}</p>
            {%endif%}
        {% endfor %}
      {% endif %}

  <div class=" container"style="min-height:50vh">
      <div class="row bg-white p-4">
        <div class="col-md-3 col-sm-12 justify-content-center d-flex" style="width:100%!important;">
            <img src="{{user.profile.profile_image.url}}" class="rounded-circle border"
            style="width:150px; height:150px">
        </div>
        <div class="col-md-9 col-sm-12">
            <form method="POST" enctype="multipart/form-data"style="width:100%!important;overflow-x:hidden!important">
                {%csrf_token%}
                {% for field in u_form.hidden_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <div class="col mt-4"style="width:100%!important">
                    <div class="row">
                        <div class="col"style="width:100%!important">
                            <div class="row mb-2 ">
                                <div class="col-3 mr-2">
                                       Bio: 
                                </div>
                                <div class="col">
                                    <span style="text-transform:uppercase"> {% render_field p_form.bio class="form-control"%} </span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-3 mr-2">
                                       Firstname: 
                                </div>
                                <div class="col">
                                    <span style="text-transform:uppercase"> {% render_field u_form.first_name class="form-control"%} </span>
                                </div>
                            </div>
                        
                            <div class="row mb-2">
                                <div class="col-3 mr-2">
                                      Lastname: 
                                </div>
                                <div class="col">
                                   <span style="text-transform:uppercase">{% render_field u_form.last_name class="form-control"%}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-3">
                            <span>Username: </span>  
                        </div>
                        <div class="col">
                            <p class=" ml-2 text-white">{% render_field u_form.username class="form-control"%}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">     
                            <span>Email: </span>  
                        </div>
                        <div class="col">
                            <p class=" ml-2 text-white">{% render_field u_form.email class="form-control"%}</p>
                        </div>
                        
                    </div>
                    
                    <div class="row">
                        <div class="col-3">     
                            <span>Profile: </span>  
                        </div>
                        <div class="col">
                            <p class=" ml-2 text-white">{{p_form.profile_image}}</p>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-warning text-white">Save</button>
                            <a href="{% url 'profile'%}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
            </form>
        </div>
        
      </div>

   
  </div>
  



     
{% endblock content%}