{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="row pl-2">        
        <div class="col-md-3  pt-3 pl-2 sidebar">
            {% include 'crud/sidebar.html' %}
        </div>   
        
        <div class="col-md-8   section-container">
           <button class=" text-white bg-secondary pl-1 pr-1 align-items-center justify-content-center">
                <a href="{% url 'quiz-detail' quiz.id%}" class="text-white">
                    Back
                </a>
            </button>
           <ul class="list-group pt-3">
                <li class="list-group-item mb-2 ">
                    Question : {{question}}  
                </li>
                <li class="list-group-item mb-2">
                    Choice : {{choice}}  
                </li>
                <li class="list-group-item mt-2">
                    <div >
                        <a href="{% url 'update-choice' choice.id%}" class="bg-warning text-white pl-3 pr-3 align-items-center justify-content-center">Edit</a>
                        <a href="{% url 'delete-choice' choice.id%}" class="bg-danger text-white pl-3 pr-3 align-items-center justify-content-center">Delete</a>
                    </div>
                </li>
           </ul>
           </div>
            
            
        </div>
    </div>
    
     
{% endblock content%}