{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%load widget_tweaks%}
{% block content%}
    <div class="row pl-2">  
        <div class="col-md-3  pt-3 pl-2 sidebar">
            {% include 'crud/sidebar.html' %}
        </div>

        <div class="col-md-8 section-container">
           <span>Quiz:<span><h2> {{quiz}}</h2>
            {%if messages%}
                {%for message in messages%}
                    <p class="alert alert-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
            <form method="POST">
                {%csrf_token%}
                <span>Question:<span>       
                    <div class="row form-group" >
                        <div class="col-md-6 col-sm-12">
                            <h5 class="text-dark"><b>{{question}}</b></h5>     
                            {% render_field form.text class="form-control"%}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5 class="text-dark"><b class="text-capitalize">Correct</b></h5>
                            <p class="ml-4">{{form.correct}}</p>
                        </div>
                    </div>   
               
               <button type="submit" class="text-white bg-warning pl-1 pr-1 align-items-center justify-content-center">Create</button>
                <button class=" text-white bg-secondary pl-2 pr-2 
                    align-items-center justify-content-center"><a href="{% url 'quiz-detail' quiz.id %}"class="text-white" >Cancel</a></button>
               
            </form> 
          
        </div>
    </div>
    
     
{% endblock content%}