{% extends 'system/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="row pl-2">  
        <div class="col-md-3  pt-3 pl-2 sidebar">
            {% include 'crud/sidebar.html' %}
        </div>

        <div class="col-md-8 section-container">
            <form method="POST">
                {%csrf_token%}
                <h2>Are you sure you want to delete this question ?</h2>                
                <h5 class="text-warning">Summary</h5>
                <div class="row ">
                    <div class="col">
                        <a href="#" class="text-muted">*{{question}}</a><br> 
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ol type="a">
                            {% for choice in question.choice_set.all%}
                                <li class="text-muted">{{choice}}</li>
                            {%endfor%}
                        </ol>
                        
                    </div>
                </div>
                
                
               <div class="row">
                    <div class="col">
                        <button type="submit" class="bg-danger text-white pl-1 pr-1 align-items-center justify-content-center">Delete</button>
                        <button class="bg-secondary text-white pl-1 pr-1 align-items-center justify-content-center">
                            <a href="{%url 'quiz-detail' quiz_id%}" class="text-white">
                            Cancel</a>
                        </button>
                    </div>                    
                </div>
            </form>    
            
        </div>
    </div>
    
     
{% endblock content%}