
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
  
   
    <!-- sidebar-search  -->
   
    <!-- sidebar-content  -->
    <ul class="list-group p-2">
        
            <li class=" mb-2 mb-5 border-bottom p-2 pb-3"style="list-style:none">
                General
            </li> 
       
        <a href="{% url 'administration'%}" class="sidebar-title">
            <li class="list-group-item mb-2 bg-secondary active ">
                Classes
            </li>
        </a>
        
     
        <a href="{% url 'index' %}"class="sidebar-title">
           <li class="list-group-item mb-2 bg-secondary active ">
                Posts
            </li>
        </a>    
        <a href="{% url 'announcement-list'%}"class="sidebar-title">
           <li class="list-group-item mb-2 bg-secondary active ">
                Announcements
            </li>
        </a>    
       
    </ul>
    <div class="row p-2">
        <div class="col d-flex justify-content-center">
        <div class="card card-body bg-secondary footer-side">
            <div class="sidebar-footer">
            <a href="https://www.facebook.com/wendell1101">
                <i class="fa fa-facebook sidebar-icon mr-2"></i>                     
            </a>
            <a href="https://github.com/wendell1101">
                <i class="fa fa-github sidebar-icon mr-2"></i>
            </a>
            <a href="https://www.linkedin.com/in/wendell-suazo-8339251aa">
                <i class="fa fa-linkedin sidebar-icon mr-2"></i>                    
            </a>
            <a href="https://twitter.com/wendell1101">
                <i class="fa fa-twitter sidebar-icon mr-2"></i>
            </a>
            </div>
            
        </div>
        </div>
    </div>
    
</nav>
